
h1, h2, h3, h4 {

    text-align: center;

    font-family:  Arial, Helvetica, sans-serif;
    
}


.loanX, .tableMyCBAx {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 20%;
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

}


.finworkbenchs, .loans  {

    /* overflow: scroll; 
 overflow: hidden;  */
 overflow: auto;  
 /* overflow: visible; */

 height: 75vh;
}



.degree__nameEarnings, .degree__earningsAvg,
.degree__earningsHigh, .degree__earningsLow {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}



.loan__section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 5%;
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    /* justify-content: space-around; */
    justify-content: space-around;

    /* justify-content: space-around; */
    /* border: 1px solid black; */


    
}







.tableMSO__nameEarnings, .tableMSO__earningsAvg,
.tableMSO__earningsHigh, .tableMSO__earningsLow,
.tableMSO__earningsTotal, .loan__amount, .loan__rate, 
.loan__length, .loan__payment {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}


.loan__educationName, .loan__degreeAnnualEarnings,
.loan__twentyYearEarnings, .loan__schoolName, 
.loan__totalAmountPaid, 
.loan__totalLoanPmts, .loan__loanAmount

  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    max-width: 120px;
    word-wrap: break-word;
    /* align-items: center; */
    align-content: center;


}


.loan__cashPaid, .loan__yearsToRepay,
.loan__interestRate 

  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    max-width: 140px;
    min-width: 120px;
    word-wrap: break-word;
    /* align-items: center; */
    align-content: center;
    background: yellow;


}

.loan__schoolTotCost , .loan__monthlyPmts, .loan__loanPrincipalAmount
  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    max-width: 120px;
    word-wrap: break-word;
    /* align-items: center; */
    align-content: center;


}


.loan__inputBoxx, .loan__inputBox2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 20%;
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    align-items: center;
    cursor: cell   ;
    max-width: 120px;
    
}


.form-control  {

    border-radius: 3px; 
    align-items: center;
    cursor: cell   ;
    max-width: 75px;
    background-color: blue;
    fill: yellowgreen;
    color: white;
}

.cant__see {
    color:transparent
}

.character__spacing {
    padding: 3%;
    /* max-width: 35px;
    min-width: 20px; */
}

.loan__inputBox3, .loan__inputBox4, .loan__inputBox {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    /* flex-wrap: wrap; */
    flex-direction: row;
    flex-basis: 20%;
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    align-items: center;
    cursor: cell   ;
    max-width: 120px;
    /* background-color: teal; */
    
}

.tableMyCBA__sectionx, .loan__sectionx {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    /* justify-content: space-around; */

}
/* .tableMyCBA { */
    .tableMyCBA__section {

        /* display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 20%;
        padding: 1%; */
        /* background-color: goldenrod; */
        /* margin:1%;
        border: 1px solid black;
        font-family:  Arial, Helvetica, sans-serif; */
        /* padding: 20px 10px 20px 10px; */
        /* border-radius: 3px; 
        justify-content: space-around; */
    
    /* } */

    /* .degree { */

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-basis: 20%; */
        padding: 1%;
        /* background-color: goldenrod; */
        margin:1%;
        border: 1px solid black;
        font-family:  Arial, Helvetica, sans-serif;
        /* padding: 20px 10px 20px 10px; */
        border-radius: 3px; 
        /* justify-content: space-around; */
    
    }




.tableMSO__section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

}

.tableMSO__nameEarnings, .tableMSO__earningsAvg,
.tableMSO__earningsHigh, .tableMSO__earningsLow,
.tableMSO__earningsTotal {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}


.BCA__ratio {

    margin:1%;
    border: 1px solid black;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    padding: 20px 10px 20px 10px;
    border-radius: 3px; 
    background-color: yellow;
    color: blue;
}

.BCA__ratio:hover {

    background-color: green;
    color: white;
    size: 250px;

    position: relative; 
    top: -3px; 
    left: -3px; 
    text-shadow: 1px 1px #fe4902, 
                 2px 2px #fe4902, 
                 3px 3px #fe4902, 
                 4px 4px #fe4902, 
                 5px 5px #fe4902, 
                 6px 6px #fe4902;
 }