
h1, h2, h3, h4 {

    text-align: center;

    font-family:  Arial, Helvetica, sans-serif;
    
}

.BCA_buttonss {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    /* padding: 1%; */
/* background: yellow; */
/* max-height: 80px; */
}

.runBenefitCostAnalysisStep1__button {

    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon; 
}


.loanX, .tableMyCBAx {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 20%;
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

}

.degree__nameEarnings, .degree__earningsAvg,
.degree__earningsHigh, .degree__earningsLow {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}



.SCO__sectionx, .mySchoolOption  {


        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-basis: 20%; */
        padding: 1%;
        margin:1%;
        /* border: 1px solid black; */
        font-family:  Arial, Helvetica, sans-serif;
        /* padding: 20px 10px 20px 10px; */
        font-size: 1.25em;
        border-radius: 3px; 
        justify-content: space-around;
        max-width: 80vw;
        align-content: center;
        margin: auto;
        /* background-color: peachpuff; */
        background-color: lightcoral;
    
}



.tableMSO__mySchoolView
{

    /* overflow: scroll; 
      overflow: hidden;  */
      overflow: auto;  
      /* overflow: visible; */
  
      height: 60vh;
      /* align-content: space-around; */
      /* background-color: pink; */

}


.tableMSO__nameEarnings, .tableMSO__earningsAvg,
.tableMSO__earningsHigh, .tableMSO__earningsLow,
.tableMSO__earningsTotal, .loan__amount, .loan__rate, 
.loan__length, .loan__payment {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}




.SCO__educationName, 
.SCO__loanLength,
.SCO__loanRate


  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    /* align-items: center; */
    align-content: center;
    max-height: 90px;


    background-color: darkblue;
color: white;

}


.SCO__schoolTotCost {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    align-content: center;

    background-color:darkred;
    color: white;


}

 .SCO__schoolName


  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    /* align-items: center; */
    align-content: center;
    max-height: 90px;


    background-color: darkcyan;
    color: white;

}


.deleteSchoolSearchItem__button  {
    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon;

}

.runBCA__button, .deleteMyMCO__button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    /* border-radius: 3px;  */
  
    word-wrap: break-word;
    /* align-items: center; */
    align-content: center;
    max-width: 100px;
margin : auto;


}



.tableMyCBA__sectionx, .loan__sectionmmx {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    /* justify-content: space-around; */

}

    .tableMyCBA__section {

   

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-basis: 20%; */
        padding: 1%;
        /* background-color: goldenrod; */
        margin:1%;
        /* border: 1px solid black; */
        font-family:  Arial, Helvetica, sans-serif;
        /* padding: 20px 10px 20px 10px; */
        border-radius: 3px; 
        /* justify-content: space-around; */
    
    }




.tableMSO__section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

}

.tableMSO__nameEarnings, .tableMSO__earningsAvg,
.tableMSO__earningsHigh, .tableMSO__earningsLow,
.tableMSO__earningsTotal {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}