.degreeSchoolx, .tableMyCBAx {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 20%;
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

}

.degree__nameEarnings, .degree__earningsAvg,
.degree__earningsHigh, .degree__earningsLow {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    word-wrap: break-word;
}


.degreeSchools, .MySchoolOptions  {

    /* overflow: scroll; 
 overflow: hidden;  */
 overflow: auto;  
 /* overflow: visible; */

 height: 100vh;
}


.addToSchoolOptionShortlist_button

{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* font-size: 1.25em; */
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 


    /* max-width: 120px; */
    word-wrap: break-word;
    align-content: center;

    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon;

}


.addToSchool__buttonThing

{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 


    /* max-width: 120px; */
    word-wrap: break-word;
    align-content: center;

}
.SCO__schoolTotCostx {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 


    max-width: 120px;
    word-wrap: break-word;
    align-content: center;
}

.tableMyCBA__sectionx {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    /* justify-content: space-around; */

}
/* .tableMyCBA { */
    .tableMyCBA__section {

    
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        /* flex-basis: 20%; */
        padding: 1%;
        /* background-color: goldenrod; */
        margin:1%;
        /* border: 1px solid black; */
        font-family:  Arial, Helvetica, sans-serif;
        /* padding: 20px 10px 20px 10px; */
        border-radius: 3px; 
        /* justify-content: space-around; */
        justify-content: space-around;

background-color: mediumpurple;



    }

.tableMyCBA {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    /* justify-content: space-around; */
    justify-content: space-around;
}



.degreeSchool {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 30%; */
    padding: 1%;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    font-size: 1em;
    border-radius: 3px; 
    justify-content: space-around;
    max-width: 80vw;
    max-height: 10vw;
    align-content: center;
    margin: auto;
    /* background-color: peachpuff; */
    background-color: rgb(153, 230, 81);
}



.finWorkBench__buttons {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    /* border-radius: 3px;  */

    max-width: 120px;
    /* word-wrap: break-word; */


    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon;


}


.degreeSchool__loanAmountInput, .degreeSchool__loanYrsInput, 
.degreeSchool__loanRateInput, .degreeSchool__spaceholder  {

background-color: orange;

}



.degreeSchool__nameCareer {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    align-content: center;

    background-color: darkblue;
    color: white;




}


.degreeSchool__cost, .degreeSchool__totCost  {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    align-content: center;

    background-color:darkred;
    color: white;




}





 .degreeSchool__totalCost,
.degreeSchool__loanPayment,
.degreeSchool__nameSchool

 {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    min-width: 120px;
    max-width: 120px;
    word-wrap: break-word;
    align-content: center;

    background-color: darkcyan;
    color: white;



}

.degrees, .tableDegree__listView, .tableMCO__listView  {
    /* overflow: scroll; 
      overflow: hidden;  */
      overflow: auto;  
      /* overflow: visible; */
  
      height: 100vh;
      /* align-content: space-around; */
      /* background-color: pink; */
  
  }


  .tableSearchSchool__section, .tableMCO__sectionmmm {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1%;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    border-radius: 3px; 
    justify-content: space-around;
    max-width: 140vw;
    min-width: 80vw; 

    margin: auto;
    background-color: lightgreen;
}

.tableDegreeSchool__listView   {
    /* overflow: scroll; 
      overflow: hidden;  */
      overflow: auto;  
      /* overflow: visible; */
  
      height: 60vh;
      /* align-content: space-around; */
      /* background-color: pink; */
  
  }
  

.searchSchoolList {


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    border-radius: 3px; 
    justify-content: space-around;
    background-color: mediumaquamarine;
    margin: auto;
}





  .tableDegreeSchool__listItem_centerx

  {
    
      margin: auto;
      background-color: yellow;
  
  
  }




.tableMyCBA__nameCareer, .tableMyCBA__earningsAvg,
.tableMyCBA__earningsHigh, .tableMyCBA__earningsLow, 
.tableMyCBA__addButtonTitle,.tableMyCBA__earningsTotal {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 

    max-width: 120px;
    word-wrap: break-word;
    align-content: center;


}


.tableBCA__section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

    background-color: pink;

}

.tableBCA__nameEarnings, .tableBCA__earningsAvg,
.tableBCA__earningsHigh, .tableBCA__earningsLow,
.tableBCA__earningsTotal {


    /* flex-basis: 20%; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    text-align: center;
    justify-content: space-around;
    /* width: fit-content; */

    max-width: 110px;
    word-wrap: break-word;
}



.degreeSchool__button {
max-width: 100px;
word-wrap: break-word;

word-wrap: break-word;
border-radius: 10px; 
background-color: lemonchiffon;


}