.degreex, .myCareerOption {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    font-size: 1.25em;
    border-radius: 3px; 
    justify-content: space-around;
    max-width: 80vw;
     align-content: center;

     margin: auto;
     background-color: plum;
}



.degreemmm, .myCareerOptionmmm {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    font-size: 1.25em;
    border-radius: 3px; 
    justify-content: space-around;

}

.myCareerOption__nameEarnings  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    font-size: 1em;
    /* border: 1px solid black; */
    max-width: 150px;
    min-width: 150px;
    word-wrap: break-word;

    align-content: center;
    /* background-color: rgb(124, 179, 235); */
    background-color: darkblue;
    color: white;

}


.myCareerOption__earningsAvg,
.myCareerOption__earningsHigh, .myCareerOption__earningsLow {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    font-size: 1em;
    /* border: 1px solid black; */

    max-width: 150px;
    word-wrap: break-word;

    align-content: center;
}




.tableDegree__section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

}

.tableDegree__nameCareer, .tableDegree__earningsAvg,
.tableDegree__earningsHigh, .tableDegree__earningsLow {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}


.tableMCO__section {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* flex-basis: 20%; */
    padding: 1%;
    /* background-color: goldenrod; */
    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
    justify-content: space-around;

    max-width: 100vw;
    min-width: 80vw; 

}

.tableMCO__nameEarnings, .tableMCO__earningsAvg,
.tableMCO__earningsHigh, .tableMCO__earningsLow {

    margin:1%;
    /* border: 1px solid black; */
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    /* padding: 20px 10px 20px 10px; */
    border-radius: 3px; 
}



.MCOShortlist__buttons {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-basis: 20%;
    /* border: 1px solid black; */
 /* align-content: center; */
    align-content: center;

 /* justify-content: space-around; */

    /* background-color: thistle; */
}


.addToSchoolSearch__button {


    max-width: 100px;
    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon;
    
    }


.deleteMyCareerOption__button {
    max-width: 80px;


    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon;
    }

.deleteMCObtn__center {
margin: auto;
    /* align-items: center; */
}



.saveToMyCareerOptions__button {
    max-width: 100px;
    word-wrap: break-word;
    border-radius: 10px; 
    background-color: lemonchiffon;
    
    }


    .moveToSchoolSearch__button {
        max-width: 100px;
        word-wrap: break-word;
        
        }


.saveBCA__button, .deleteBCA__button {
    max-width: 80px;
    word-wrap: break-word;
    
    }


    .BCA__ratio {

        margin:1%;
        /* border: 1px solid black; */
        font-family:  Arial, Helvetica, sans-serif;
        font-size: 1.75em;
        padding: 20px 10px 20px 10px;
        border-radius: 3px; 
        background-color: yellow;
        color: blue;
    }
    


    .BCA_buttons {

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        flex-basis: 10%;
        /* padding: 1%; */
        /* background-color: goldenrod; */
        /* margin:1%; */
        /* border: 1px solid black; */
        font-family:  Arial, Helvetica, sans-serif;
        /* padding: 20px 10px 20px 10px; */
        /* border-radius: 3px;  */
        justify-content: space-evenly;
        max-width: 175px;



    }